.button {
    position: fixed;
    background-color: #3a70b8;
    border: 0;
    font-size: 28px;
    padding: 6px;
    color: #ffffff;
    cursor: pointer;
    user-select: none;
}

.button:hover {
    box-shadow: 0 0 23px 1px rgba(0, 0, 0, 0.75);
}

.confirmButton {
    bottom: 15px;
    right: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

.backButton {
    top: 40px;
    left: 15px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.fullHeight {
    height: 100%;
}

.instructions {
    font-size: 20pt;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #38a2a6;
    border: 1px solid #3ab4ba;
}

.instructionsFlash {
    font-size: 20pt;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #38a2a6;
    border: 1px solid #3ab4ba;
}